/* src/styles/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding for pill shape */
  background-color: rgba(242, 242, 242, 0.8); /* Semi-transparent background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 80%; /* Use a percentage width */
  max-width: 800px; /* Set a max-width to ensure it doesn't get too wide */
  top: 20px; /* Adjust top position */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px; /* Pill shape */
  z-index: 1000;
  margin: 0 auto; /* Center the header */
}

.line {
  width: 30px;
  height: 1.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin-left: 20px;
}


.header .nav ul li button {
  display: inline-block;
  padding: 8px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #333;
  text-shadow: 0 0 20px #fff, 0 0 1px #fff, 0 0 1px #fff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header .nav ul li button:hover {
  background-color: #222;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.header .nav ul li button:active {
  transform: scale(0.95); /* Shrink the button */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8); /* Create sinking-in effect */
}


.nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
}

@media (max-width: 480px) {
  .nav ul { /* Adjust the flex to fit small screens */
    flex-direction: column;
    display: flex;
    margin: -30px;
  }

  .nav ul.active { /* Use flex also on screens > than 400px */
    display: flex;
  }

  .nav ul li {
    transform: translate(-60%, -40%);
  }

  .line {
    height: 5px; /* Increase height when stacked vertically */
  }

  .nav ul li a {
    font-size: 0; /* Hide the text */
  }
  
}

.header nav ul {
  justify-content: space-between;
}