/* src/styles/Homepage.css */
.background {
  background-color: #e0e0e0;
}

/* src/styles/Homepage.css */
.user-profile-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px; /* Set width */
    height: 50px; /* Set height */
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: #e0e0e0; /* Light background color */
    box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff; /* Neumorphic shadows */
    border: none;
    border-radius: 50%; /* Make it a circle */
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .headerTitle{
    text-align: center;
  }
  
  .user-profile-button:hover {
    background-color: #d1d1d1; /* Slightly darker background on hover */
  }
  
  .user-profile-button:active {
    transform: scale(0.95); /* Shrink the button */
    box-shadow: inset 7px 7px 15px #bebebe, inset -7px -7px 15px #ffffff; /* Inset shadows for pressed effect */
  }