/* src/styles/Profile.css */
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px; /* Add top margin */
    padding: 20px;
    background-color: #e0e0e0; /* Light background color */
    border-radius: 20px;
    box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff; /* Neumorphic shadows */
  }

.back-button {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  background-color: #e0e0e0; /* Light background color */
  box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff; /* Neumorphic shadows */
  border: none;
  border-radius: 50%; /* Make it a circle */
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
  
  .back-button:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
  }
  
  .back-button:active {
    transform: scale(0.95); /* Shrink the button */
    box-shadow: inset 7px 7px 15px #bebebe, inset -7px -7px 15px #ffffff; /* Inset shadows for pressed effect */
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture,
  .profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    background-color: #618eff; /* Dark red background color */
    box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff; /* Neumorphic shadows */
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-info h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    text-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff; /* Neumorphic shadows */
  }
  
  .edit-profile-button {
    padding: 5px 10px;
    font-size: 0.875rem;
    color: #fff;
    background-color: #618eff; /* Dark red background color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff; /* Neumorphic shadows */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .edit-profile-button:hover {
    background-color: #4c70cb; /* Slightly darker red on hover */
  }
  
  .edit-profile-button:active {
    transform: scale(0.95); /* Shrink the button */
    box-shadow: inset 7px 7px 15px #bebebe, inset -7px -7px 15px #ffffff; /* Inset shadows for pressed effect */
  }
  
  .username {
    font-size: 1rem;
    color: #888;
    text-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff; /* Neumorphic shadows */
  }

  .message-button {
    padding: 5px 10px;
    background-color: #618eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff; /* Neumorphic shadows */
  }
  
  .message-button:hover {
    background-color: #4c70cb;
  }
  
  .profile-bio {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0e0; /* Light background color */
    border-radius: 20px;
    box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff; /* Neumorphic shadows */
  }
  
  .profile-bio p {
    font-size: 1rem;
    margin: 0;
    color: #333;
  }