.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input {
    width: 100%; /* Adjust width to be less than 100% */
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    font-size: 1rem;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #222;
}

.google-signin {
    background-color: #db4437;
}

.google-signin:hover {
    background-color: #c33d2e;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}